* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
}

.nav-right-section,
.nav-left-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main-nav a,
.sub-nav a {
  font-size: 14px;
}

.main-nav a:hover,
.main-nav a:focus,
.sub-nav a:hover,
.sub-nav a:focus {
  font-size: 14px;
  color: #b3b3b3;
}

.nav-left-section {
  gap: 25px;
  margin-right: 20px;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sub-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

h2 {
  font-size: 1.4vw;
  color: #e5e5e5;
  font-weight: 500;
  padding: 6px 60px;
}
.row_poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
  border-radius: 0.2vw;
}
.row_poster:hover {
  transform: scale(1.5);
}
.row_poster:not(.row_posterLarge):hover {
  max-height: 125px;
}
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 6px 60px;
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.row_posterLarge {
  max-height: 300px;
}
.row {
  color: antiquewhite;
  margin: 45px 0;
}
.banner {
  background-image: url("https://images.hdqwalls.com/wallpapers/squid-game-3b.jpg");
  width: 100%;
  background-size: cover;
  background-position: center center;
  object-fit: contain;
  height: 100vh;
  color: azure;
  margin-bottom: 2rem;
}
.banner_contents {
  margin-left: 30px;
  padding: 144px 85px;
  height: 190px;
}
.banner-title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 1rem;
}
.banner_discription {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 45rem;
  line-height: 1.3;
  padding-top: 2rem;
  font-size: 1rem;
  max-width: 360px;
  height: 180px;
  display: flex;
  flex-direction: column;
}
.banner_button {
  cursor: pointer;
  color: azure;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  font-weight: 700;
  border-radius: 5px;

  background-color: rgba(109, 109, 110, 0.7);
}
.play-btn {
  background-color: #fff;
  color: #000;
}

.play-btn a {
  color: #000;
}

.banner_button:hover {
  color: #000;
  background-color: #fff;
  transition: all 0.5s;
}
.main-section {
  position: absolute;
  top: calc(100vh - 300px);
}
.nav_logo {
  width: 92px;
  object-fit: contain;
  cursor: pointer;
}
.nav_avatar {
  width: 30px;
  object-fit: contain;
  cursor: pointer;
}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav_black {
  background-color: #111;
}
a {
  color: azure;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  color: black;
  transition: all 0.5s;
}
